
<%= simple_form_for(@user) do |f| %>
  
  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :fullname %>
    <%= f.input :contactNumber %>
    <%= f.input :username %>

  <div class="form-group" >
    <%= f.label :user_type %>
    <%= f.select :role,([['User', 'user'], ['Admin', 'admin'], ['Editor', 'editor']]), {:include_blank => 'Select user_type'}, class:'form-control' %>
  </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
